<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICalculator" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_CalculatorService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:9999/calculatorservice" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_CalculatorService" contract="Service.Contracts.ICalculator"
        name="WSHttpBinding_CalculatorService" />
      <endpoint address="http://localhost:5728/Calculator.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICalculator" contract="ServiceReference1.ICalculator"
        name="BasicHttpBinding_ICalculator" />
    </client>
  </system.serviceModel>
</configuration>