<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConnectionStringSection" type="Study.Configuration.ByInterface.ConnectionStringSection,Study.Configuration.ByInterface" />
  </configSections>
  <ConnectionStringSection>
    <ConnectionStringList>
      <add server="127.0.0.1" userName="sa" password ="test" />
    </ConnectionStringList>
  </ConnectionStringSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
</configuration>